body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

button, select, input, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
}

select:hover, input:hover, optgroup:hover, textarea:hover {
  border: 1px solid #616161;
}

button {
  border: 0px;
  /* min-width: 100px; */
  padding: 7px 13px 7px 13px;
}

button:hover {
  /* border: 1px solid #616161; */
  /* padding: 4px; */
  opacity: 0.85;
}

button:active {
  opacity: 0.7;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #0099ff;
}

.nonselectable {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1px solid #cccccc;
  padding: -1px;
}

.br {
  border-radius: 5px;
}

.mw-1 {
  min-width: 100px;
}

.mw-2 {
  min-width: 150px;
}

.max-width-100 {
  max-width: 100%;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}


.text-red {
  color: #ff0000;
}

.text-brown {
  color: #ff9900;
}

.text-yellow {
  color: #ffff44;
}

.text-green {
  color: #99ff00;
}

.text-lightblue {
  color: #0099ff;
}

.text-blue {
  color: #0000ff;
}

.text-purple {
  color: #9900ff;
}

.text-white {
  color: white;
}

.text-dark {
  color: rgb(26, 30, 44);
}

.red {
  background-color: #ff0000;
}

.brown {
  background-color: #ff9900;
}

.yellow {
  background-color: #ffff44;
}

.green {
  background-color: #99ff00;
}

.lightblue {
  background-color: #0099ff;
}

.blue {
  background-color: #0000ff;
}

.purple {
  background-color: #9900ff;
}

.white {
  background-color: white;
}

.dark {
  background-color: rgb(26, 30, 44);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
