/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
}

.col {
  flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-self: center;
}

.grow-1 {
  flex-grow: 1;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

.ma-1 {
  margin: 5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ma-2 {
  margin: 10px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.ma-3 {
  margin: 15px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.ma-4 {
  margin: 20px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.pa-1 {
  padding: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pa-2 {
  padding: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pa-3 {
  padding: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pa-4 {
  padding: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

button, select, input, optgroup, textarea, ::file-selector-button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
}

select:hover, input:hover, optgroup:hover, textarea:hover {
  border: 1px solid #616161;
}

button {
  border: 0px;
  padding: 7px 13px 7px 13px;
  transition: filter 0.15s ease-in-out;
}
button:hover {
  filter: brightness(75%);
}
button:active {
  /* opacity: 0.7; */
  filter: brightness(88%);
}

::file-selector-button {
  border: 0px;
  padding: 7px 13px 7px 13px;
  transition: filter 0.15s ease-in-out;
}
::file-selector-button:hover {
  background-color: #b5b5b5;
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 999;
}

.btn-large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 5px;
}

.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 5px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #1a1e2c;
}

.nonselectable {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1px solid #cccccc;
  padding: -1px;
}

.br {
  border-radius: 5px;
}

.width-100 {
  width: 100%;
}

.max-width-100 {
  max-width: 100%;
}

.mw-1 {
  min-width: 100px;
}

.mw-2 {
  min-width: 150px;
}

.mw-3 {
  min-width: 200px;
}

.mw-4 {
  min-width: 400px;
}

.mh-1 {
  min-height: 100px;
}

.mh-2 {
  min-height: 150px;
}

.mh-3 {
  min-height: 200px;
}

.mh-4 {
  min-height: 400px;
}

.text-jred {
  /* text of color jred*/
  color: #ff4444;
}

.jred {
  /* background of color jred*/
  background-color: #ff4444;
}

.text-jbrown {
  /* text of color jbrown*/
  color: #ffa144;
}

.jbrown {
  /* background of color jbrown*/
  background-color: #ffa144;
}

.text-jyellow {
  /* text of color jyellow*/
  color: #ffff44;
}

.jyellow {
  /* background of color jyellow*/
  background-color: #ffff44;
}

.text-jgreen {
  /* text of color jgreen*/
  color: #8ef744;
}

.jgreen {
  /* background of color jgreen*/
  background-color: #8ef744;
}

.text-jblue {
  /* text of color jblue*/
  color: #4444ff;
}

.jblue {
  /* background of color jblue*/
  background-color: #4444ff;
}

.text-jpurple {
  /* text of color jpurple*/
  color: #ff44ff;
}

.jpurple {
  /* background of color jpurple*/
  background-color: #ff44ff;
}

.text-jwhite {
  /* text of color jwhite*/
  color: #ffffff;
}

.jwhite {
  /* background of color jwhite*/
  background-color: #ffffff;
}

.text-jdark {
  /* text of color jdark*/
  color: #1a1e2c;
}

.jdark {
  /* background of color jdark*/
  background-color: #1a1e2c;
}
