body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

button, select, input, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
}

select:hover, input:hover, optgroup:hover, textarea:hover {
  border: 1px solid #616161;
}

button {
  border: 0px;
  padding: 7px 13px 7px 13px;
  transition: filter 0.15s ease-in-out;
}
button:hover {
  filter: brightness(75%);
}
button:active {
  /* opacity: 0.7; */
  filter: brightness(88%);
}

.btn-large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #1a1e2c;
}

.nonselectable {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1px solid #cccccc;
  padding: -1px;
}

.br {
  border-radius: 5px;
}

.max-width-100 {
  max-width: 100%;
}

.mw-1 {
  min-width: 100px;
}

.mw-2 {
  min-width: 150px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.px-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.px-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.px-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.px-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mw-1 {
  min-width: 100px;
}

.mw-2 {
  min-width: 150px;
}

.text-jred {
  /* text of color jred*/
  color: #ff4444;
}

.jred {
  /* background of color jred*/
  background-color: #ff4444;
}

.text-jbrown {
  /* text of color jbrown*/
  color: #ffa144;
}

.jbrown {
  /* background of color jbrown*/
  background-color: #ffa144;
}

.text-jyellow {
  /* text of color jyellow*/
  color: #ffff44;
}

.jyellow {
  /* background of color jyellow*/
  background-color: #ffff44;
}

.text-jgreen {
  /* text of color jgreen*/
  color: #8ef744;
}

.jgreen {
  /* background of color jgreen*/
  background-color: #8ef744;
}

.text-jblue {
  /* text of color jblue*/
  color: #4444ff;
}

.jblue {
  /* background of color jblue*/
  background-color: #4444ff;
}

.text-jpurple {
  /* text of color jpurple*/
  color: #ff44ff;
}

.jpurple {
  /* background of color jpurple*/
  background-color: #ff44ff;
}

.text-jwhite {
  /* text of color jwhite*/
  color: #ffffff;
}

.jwhite {
  /* background of color jwhite*/
  background-color: #ffffff;
}

.text-jdark {
  /* text of color jdark*/
  color: #1a1e2c;
}

.jdark {
  /* background of color jdark*/
  background-color: #1a1e2c;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
