$red: #ff4444;
$brown: #ffa144;
$yellow: #ffff44;
$green: #8ef744;
$blue: #4444ff;
$purple: #ff44ff;
$white: #ffffff;
$dark: #1a1e2c;
$bordercolor:#cccccc;
$hoverbordercolor: #616161;
$textdark:#212529;
$colors: (jred:$red, jbrown:$brown, jyellow:$yellow, jgreen:$green, jblue:$blue,
  jpurple:$purple, jwhite:$white, jdark:$dark);
