$alignings: (start:flex-start, end:flex-end, center:center, stretch:stretch,
  baseline:baseline);

.row {
  display: flex;
}

.col {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-self: center;
}

@each $alignmentname, $alignment in $alignings {
  .align-items-#{$alignmentname} {
    align-items: #{$alignment}
  }
}

@each $alignmentname, $alignment in $alignings {
  .align-items-#{$alignmentname} {
    align-items: #{$alignment}
  }
}
