$alignings: (start:flex-start, end:flex-end, center:center, stretch:stretch,
  baseline:baseline);

$justifys: (start:flex-start, end:flex-end, center:center);

.row {
  display: flex;
}

.col {
  flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-self: center;
}

.grow-1 {
  flex-grow: 1;
}

@each $justifyname, $justify in $justifys {
  .justify-content-#{$justifyname} {
    justify-content: #{$justify}
  }
}

@each $alignmentname, $alignment in $alignings {
  .align-items-#{$alignmentname} {
    align-items: #{$alignment}
  }
}
