$red: #ff4444;
$brown: #ffa144;
$yellow: #ffff44;
$green: #8ef744;
$blue: #4444ff;
$purple: #ff44ff;
$white: #ffffff;
$dark: #1a1e2c;
$bordercolor:#cccccc;
$hoverbordercolor: #616161;
$textdark:#212529;

$spacings: (5px, 10px, 15px, 20px);
$widths: (100px, 150px);
$colors: (red:$red, brown:$brown, yellow:$yellow, green:$green, blue:$blue,
  purple:$purple, white:$white, dark:$dark);

$fontfamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

body {
  font-family: $fontfamily;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $textdark;
  text-align: left;
}

button, select, input, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid $bordercolor;
  padding: 5px;
  border-radius: 5px;
}

select:hover, input:hover, optgroup:hover, textarea:hover {
  border: 1px solid $hoverbordercolor;
}

button {
  border: 0px;
  padding: 7px 13px 7px 13px;
  transition: filter .15s ease-in-out;

  &:hover {
    filter: brightness(75%);
  }

  &:active {
    /* opacity: 0.7; */
    filter: brightness(88%);
  }
}

.btn-large {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid $dark;
}

.nonselectable {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 1px solid $bordercolor;
  padding: -1px;
}

.br {
  border-radius: 5px;
}

.max-width-100 {
  max-width: 100%;
}

@for $i from 1 through 2 {
  .mw-#{$i} {
    min-width: nth($widths, $i);
  }
}

@for $i from 1 through 4 {
  .my-#{$i} {
    margin-top: nth($spacings, $i);
    margin-bottom: nth($spacings, $i);
  }

  .mr-#{$i} {
    margin-right: nth($spacings, $i);
  }

  .ml-#{$i} {
    margin-left: nth($spacings, $i);
  }

  .px-#{$i} {
    padding-top: nth($spacings, $i);
    padding-bottom: nth($spacings, $i);
  }

  .py-#{$i} {
    padding-top: nth($spacings, $i);
    padding-bottom: nth($spacings, $i);
  }
}

@for $i from 1 through 2 {
  .mw-#{$i} {
    min-width: nth($widths, $i);
  }
}

@each $color, $colorcode in $colors {
  .text-#{$color} {
    /* text of color #{$color}*/
    color: #{$colorcode}
  }

  .#{$color} {
    /* background of color #{$color}*/
    background-color: #{$colorcode}
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
